[submodule "C_Piscine/Shell00"]
	path = C_Piscine/Shell00
	url = https://github.com/42-joaorodrigues/Shell00
[submodule "C_Piscine/Shell01"]
	path = C_Piscine/Shell01
	url = https://github.com/42-joaorodrigues/Shell01
[submodule "C_Piscine/C00"]
	path = C_Piscine/C00
	url = https://github.com/42-joaorodrigues/C00
[submodule "C_Piscine/C01"]
	path = C_Piscine/C01
	url = https://github.com/42-joaorodrigues/C01
[submodule "C_Piscine/C02"]
	path = C_Piscine/C02
	url = https://github.com/42-joaorodrigues/C02
[submodule "C_Piscine/C03"]
	path = C_Piscine/C03
	url = https://github.com/42-joaorodrigues/C03
[submodule "C_Piscine/C04"]
	path = C_Piscine/C04
	url = https://github.com/42-joaorodrigues/C04
[submodule "Common_Core/Libft"]
	path = Common_Core/Libft
	url = https://github.com/42-joaorodrigues/Libft
[submodule "Common_Core/Ft_Printf"]
	path = Common_Core/Ft_Printf
	url = https://github.com/42-joaorodrigues/Ft_Printf
[submodule "Common_Core/Get_Next_Line"]
	path = Common_Core/Get_Next_Line
	url = https://github.com/42-joaorodrigues/Get_Next_Line
[submodule "Common_Core/Born2beroot"]
	path = Common_Core/Born2beroot
	url = https://github.com/42-joaorodrigues/Born2beroot
[submodule "Common_Core/Push_Swap"]
	path = Common_Core/Push_Swap
	url = https://github.com/42-joaorodrigues/Push_Swap
[submodule "Common_Core/Minitalk"]
	path = Common_Core/Minitalk
	url = https://github.com/42-joaorodrigues/Minitalk
[submodule "Common_Core/So_Long"]
	path = Common_Core/So_Long
	url = https://github.com/42-joaorodrigues/So_Long
[submodule "Common_Core/Philosophers"]
	path = Common_Core/Philosophers
	url = https://github.com/42-joaorodrigues/Philosophers
[submodule "Common_Core/Minishell"]
	path = Common_Core/Minishell
	url = https://github.com/42-joaorodrigues/Minishell
[submodule "Common_Core/Cpp00"]
	path = Common_Core/Cpp00
	url = https://github.com/42-joaorodrigues/Cpp00
[submodule "Common_Core/Cpp01"]
	path = Common_Core/Cpp01
	url = https://github.com/42-joaorodrigues/Cpp01
[submodule "Common_Core/Cpp02"]
	path = Common_Core/Cpp02
	url = https://github.com/42-joaorodrigues/Cpp02
[submodule "Common_Core/Cpp03"]
	path = Common_Core/Cpp03
	url = https://github.com/42-joaorodrigues/Cpp03
[submodule "Common_Core/Cpp04"]
	path = Common_Core/Cpp04
	url = https://github.com/42-joaorodrigues/Cpp04
[submodule "Common_Core/Cpp05"]
	path = Common_Core/Cpp05
	url = https://github.com/42-joaorodrigues/Cpp05
[submodule "Common_Core/NetPractice"]
	path = Common_Core/NetPractice
	url = https://github.com/42-joaorodrigues/NetPractice
[submodule "Common_Core/Cub3d"]
	path = Common_Core/Cub3d
	url = https://github.com/42-joaorodrigues/Cub3d
[submodule "Common_Core/Cpp06"]
	path = Common_Core/Cpp06
	url = https://github.com/42-joaorodrigues/Cpp06
[submodule "Common_Core/Cpp07"]
	path = Common_Core/Cpp07
	url = https://github.com/42-joaorodrigues/Cpp07
[submodule "Common_Core/Cpp08"]
	path = Common_Core/Cpp08
	url = https://github.com/42-joaorodrigues/Cpp08
[submodule "Common_Core/Cpp09"]
	path = Common_Core/Cpp09
	url = https://github.com/42-joaorodrigues/Cpp09
[submodule "Common_Core/Webserv"]
	path = Common_Core/Webserv
	url = https://github.com/42-joaorodrigues/Webserv
[submodule "C_Piscine_Reload"]
	path = C_Piscine_Reload
	url = https://github.com/42-joaorodrigues/C_Piscine_Reload
